@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    
    --font-cinzel: "Cinzel", "Sans-serif";
    --font-montserrat: "Montserrat", "Sans-serif";
    --font-inter: "Inter", "Sans-serif";
}